{{#each amounts}}
	<li class="form__amount--set">
		<input class="form__amount-radio" type="radio" id="amount-{{ @index }}" value={{ this }} {{{isDefaultSelected @index}}} name="amount">
		<label class="form__amount-label" for="amount-{{ @index }}">&#36;{{ this }}</label>
	</li>
{{/each}}

<li class="form__amount--manual">
	<input class="form__amount-radio" type="radio" name="amount" id="manual-radio">
	<input class="form__amount-input" type="text" placeholder="&#36;" id="manual-entry">
</li>
